@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
}

.ant-menu-item {
  font-size: 1.2rem;
  font-family: "Fira Code", monospace;
}

.modal-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: rgb(15, 6, 189);
  text-decoration: underline;
  letter-spacing: 0.5px;
}

.ant-table-content {
  font-size: 1.2rem;
  font-family: "Fira Code", monospace;
}

.modal-content p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.modal-content p span {
  font-style: italic;
}

.ant-modal-content {
  font-size: 1.2rem;
  font-family: "Fira Code", monospace;
}

.footer {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  padding: 40px;
}

.footer svg {
  font-size: 1.5rem;
  color: rgb(15, 6, 189);
}

.footer svg:hover {
  color: rgb(15, 6, 189);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .ant-table-content {
    font-size: 0.9rem;
  }
}
